<div layout-fill layout="column" layout-align="center none">
    <div layout="row" layout-align="center none">

        <md-card class="dashboard_container">

            <md-card-content>
                <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
                    <md-tab label="User panel">
                        <md-content>
                            <div layout-align="center">
                                <md-data-table-container>
                                    <table md-data-table>
                                        <thead md-trim-column-names>
                                            <tr>
                                                <th width="5%">#</th>
                                                <th width="12%">Username</th>
                                                <th width="10%">Password</th>
                                                <th width="15%">E-mail</th>
                                                <th width="10%">Country</th>
                                                <th width="13%">Account type</th>
                                                <th width="13%">Account status</th>
                                                <th width="10%"></th>
                                                <th width="12%"></th>
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="uzer in $root.users">
                                        <tr align="center" ng-if="uzer.account_type != 'administrator' && uzer.username != user.username">
                                            <td>{{ $index + 1}}</td>
                                            <td>{{ uzer.username}}</td>
                                            <td>{{ uzer.password}}</td>
                                            <td>{{ uzer.email}}</td>
                                            <td>{{ uzer.country}}</td>
                                            <td>{{ uzer.account_type}}</td>
                                            <td>{{ uzer.account_status}}</td>
                                            <td><md-button class="md-raised md-primary" ng-click="">STATS</md-button></td>
                                            <td><md-button class="md-accent md-raised md-hue-3" ng-click="removeUser(uzer.username)">REMOVE</md-button></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </md-data-table-container>
                            </div>
                        </md-content>
                    </md-tab>

                    <md-tab label="Pending applications">
                        <md-content>
                            Pending applications go here.
                        </md-content>
                    </md-tab>

                    <md-tab label="Category statistics">
                        <md-content>
                            Some stat data goes here.
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-card-content>

        </md-card>
    </div>
</div>