<div layout-fill layout="column" layout-align="center none">
    <div layout="row" layout-align="center none">

        <md-card class="container">

            <md-card-title>
                <md-card-title-text>
                    <span align="center" class="md-headline">Forgot my password</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <form name="forgottenPasswordForm" role="form" ng-submit="forgotPassword()" novalidate>

                    <md-content>
                        After clicking on the button you should recieve an e-mail containing your password within a few minutes. Make sure to check your spam folder as well.
                    </md-content>

                    <div layout="column" layout-align="start center">
                        <md-input-container md-no-float>
                            <input required size="50" ng-model="forgottenUsername" name="username" placeholder="Username">
                            <div ng-messages="forgottenPasswordForm.username.$error">
                                <div ng-message="required">
                                    Please enter a username.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-align="center">
                        <md-button class="md-raised md-primary capitalized" ng-click="sendPassword()">Send me my password
                        </md-button>

                    </div>
                </form>
            </md-card-content>

        </md-card>
    </div>
</div>