<div layout-fill layout="column" layout-align="center none">
    <div layout="row" layout-align="center none">

        <md-card class="container">

            <md-card-title>
                <md-card-title-text>
                    <span align="center" class="md-headline">Log in to Photostock</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <div layout="column" layout-align="start center">
                    <md-input-container md-no-float>
                        <input required size="50" ng-model="user.address1" placeholder="Username">
                        <div ng-messages="" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                Please enter a username.
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container md-no-float>
                        <input required type="password" size="50" ng-model="user.address2" placeholder="Password">
                        <div ng-messages="" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                Please enter a password.
                            </div>
                        </div>
                    </md-input-container>
                </div>

                <div layout="row" layout-align="center">
                    <md-button class="md-raised md-primary capitalized" ng-click="getBooks()">Login</md-button>
                    <md-button class="md-primary capitalized" ng-click="showQueryHistory()">Forgot my password</md-button>

                </div>
            </md-card-content>

        </md-card>
    </div>
</div>