<div layout-fill layout="column" layout-align="center none">
    <div layout="row" layout-align="center none">

        <md-card class="container">

            <md-card-title>
                <md-card-title-text>
                    <span align="center" class="md-headline">Log in to Photostock</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <form role="form" name="loginForm" ng-submit="login()" novalidate>
                    <div layout="column" layout-align="start center">
                        <md-input-container md-no-float>
                            <input required size="50" ng-model="user.username" name="username" placeholder="Username">
                            <div ng-messages="loginForm.username.$error">
                                <div ng-message="required">
                                    Please enter a username.
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container md-no-float>
                            <input required type="password" size="50" ng-model="user.password" name="password" placeholder="Password">
                            <div ng-messages="loginForm.password.$error" role="alert">
                                <div ng-message="required">
                                    Please enter a password.
                                </div>
                            </div>
                        </md-input-container>
                    </div>

                    <div class="error" align="center"> {{loginErrorMessage}} </div>

                    <div layout="row" layout-align="center">
                        <md-button type="submit" class="md-raised md-primary capitalized">Login</md-button>
                        <md-button class="md-primary capitalized" ng-click="goto('/forgotPassword')">Forgot my password
                        </md-button>

                    </div>
                </form>
            </md-card-content>

        </md-card>
    </div>
</div>