<div layout-fill layout="column" layout-align="center none">
    <div layout="row" layout-align="center none">

        <md-card class="container">

            <md-card-title>
                <md-card-title-text>
                    <span align="center" class="md-headline">Register on Photostock</span>
                </md-card-title-text>

            </md-card-title>

            <md-card-content>
                <br>
                <p align="center">What would you like to register as?</p>
                <div ng-cloak>
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
                            <md-tab label="Individual">
                                <form name="individualForm" role="form">
                                <md-content class="md-padding">

                                    <div layout="column" layout-align="start center">
                                        <md-input-container md-no-float>
                                            <input required md-asterisk size="50" ng-model="user.username" name="username" placeholder="Username">
                                            <div ng-messages="individualForm.username.$error">
                                                <div ng-message="required">
                                                    Please enter a username.
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container md-no-float>
                                            <input required type="password" size="50" ng-model="user.password" name="password" placeholder="Password">
                                            <div ng-messages="individualForm.password.$error">
                                                <div ng-message="required">
                                                    Please enter a password.
                                                </div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container md-no-float>
                                            <input required type="email" size="50" ng-model="user.email" name="email" placeholder="E-mail">
                                            <div ng-messages="individualForm.email.$error">
                                                <div ng-message="required">
                                                    Please enter an e-mail.
                                                </div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container md-no-float>
                                            <input type="text" size="50" ng-model="user.country" placeholder="Country">
                                        </md-input-container>
                                    </div>

                                    <div class="error" align="center"> {{registrationErrorMessage}} </div>

                                    <div layout="row" layout-align="center">
                                        <md-button class="md-raised md-primary capitalized" ng-click="register()">Register</md-button>
                                    </div>
                                </md-content>
                                </form>
                            </md-tab>
                            <md-tab label="Company">
                                <form name="companyForm" role="form" novalidate>
                                <md-content class="md-padding">

                                    <div layout="column" layout-align="start center">
                                        <md-input-container md-no-float>
                                            <input required md-asterisk size="50" ng-model="company.name" name="name" placeholder="Company name">
                                            <div ng-messages="companyForm.name.$error">
                                                <div ng-message="required">
                                                    Please enter a company name.
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container md-no-float>
                                            <input required size="50" ng-model="company.address" name="address" placeholder="Address">
                                            <div ng-messages="companyForm.address.$error">
                                                <div ng-message="required">
                                                    Please enter an address.
                                                </div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container md-no-float>
                                            <input required type="text" size="50" ng-model="company.pib" name="pib" placeholder="PIB">
                                            <div ng-messages="companyForm.pib.$error">
                                                <div ng-message="required">
                                                    Please enter a PIB.
                                                </div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container md-no-float>
                                            <input required type="text" size="50" ng-model="company.provision" name="provision" placeholder="Number of percents you ask for each photo">
                                            <div ng-messages="companyForm.provision_percent.$error">
                                                <div ng-message="required">
                                                    Please enter a percentage.
                                                </div>
                                            </div>
                                        </md-input-container>

                                        <h6 class="subheading-3">Choose a membership type:</h6>
                                        <md-radio-group layout="row" ng-model="company.membership">

                                            <md-radio-button value="regular" required>Standard</md-radio-button>
                                            <md-radio-button value="silver"> Silver</md-radio-button>
                                            <md-radio-button value="gold">Gold</md-radio-button>

                                        </md-radio-group>
                                        <br><br>
                                    </div>

                                    <div class="error" align="center"> {{registrationCompanyErrorMessage}} </div>

                                    <div layout="row" layout-align="center">
                                        <md-button class="md-raised md-primary capitalized" ng-click="registerCompany()">Register</md-button>
                                    </div>
                                </md-content>
                                </form>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </div>
            </md-card-content>

        </md-card>
    </div>
</div>