.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}

/* centers content*/
.container {
    padding: 15px 25px;
    width: auto;
    max-width: 900px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;top: 50%;

}

/* aligns md-select with other input elements */
md-select {
    margin-top: 2px;
}

.search-button {
    margin-top: -20px;

}
.capitalized {
    text-transform: capitalize;
}

md-content {
    background: white;
}

.login_error {
    color: rgba(255, 13, 0, 0.77);
    font-size: 12px;
    margin-bottom: 20px;
}

div .error {
    color: red;
    font-size: 12px;
    margin-bottom: 20px;
}